body {
width: 200px;
height: fit;
margin: 0;
padding: 0;

font-family: "Comic Sans MS", cursive, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 4px;
}

.mode-button.active {
    transform: scale(1.25);

    border-radius: 5px;
    background-color: #007bff;
}

#links-view {
    display: none;
}

#links-list {
    overflow: scroll;
}

#mode-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 5px;
    padding: 5px;

    border-radius: 10px;
    background-color: #5046e5;;
}

#mode-container button {
    align-self: center;

    width: 75px;
    height: 75px;
    margin: 4px;
    padding: 4px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 5px;
    outline: silver solid 1px;
    background-color: #5046e5;
    box-shadow: inset 0 0 6px #b0b0b0;

    font-size: small;;
}


#mode-container button:hover {
    transition: transform 0.15s ease-in-out;
    transform: scale(1.04);

    box-shadow: 0 0 4px #000000;
}

#successMessage {
position: absolute;

margin-top: 30px;

text-align: center;

color: lightgray;

font-size: large;
font-weight: bold;
}

.action-button {
    margin: 2px;
    padding-right: 3px;
    padding-left: 3px;

    cursor: pointer;

    color: gray;
    border:none;
    border-radius: 5px;

    font-size: large;
}
.action-button:hover {
    transition: transform 0.15s ease-in-out;
    transform: scale(1.04);

    background-color: lightgray;
}


#access-passphrase-button {
    padding: 6px;

    color: white;
    background-color: #5046e5;

    font-size: small;
}
